<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppViews"
        tools:targetApi="31">
        <activity
            android:name=".HTTPRequestActivity"
            android:exported="false" />
        <activity
            android:name=".ExampleRecyclerView"
            android:exported="false" />
        <activity
            android:name=".NavigationProductsActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation_products"
            android:theme="@style/Theme.AppViews.NoActionBar" />
        <activity
            android:name=".ListProductActivity"
            android:exported="false"
            android:label="@string/title_activity_list_product"
            android:theme="@style/Theme.AppViews.NoActionBar" />
        <activity
            android:name=".TypeActivity"
            android:exported="false" />
        <activity
            android:name=".ProductInventaryPersistent"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".ProductFragmentMainActivity"
            android:exported="false" />
        <activity
            android:name=".CreateProductActivity"
            android:exported="false" />
        <activity
            android:name=".ProductInventary"
            android:exported="false" />
        <activity
            android:name=".ExampleCardView"
            android:exported="false" />
        <activity
            android:name=".ExampleGridView"
            android:exported="false" />
        <activity
            android:name=".ExampleListViewCustomAdapter"
            android:exported="false" />
        <activity
            android:name=".ExampleListView"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>